/* sets the background color of body */
body {
    background: rgb(50, 16, 102);
    background: radial-gradient(circle, rgba(50, 16, 102, 1) 0%, rgba(56, 18, 114, 1) 100%);
}

/* styles all the button */
button {
    background-color: #333333 !important;
    color: white !important;
    border-color: #333333 !important;
}

/* sets the font color to black */
input,
option,
select,
.modal-title,
.modal-body {
    color: black !important;
}

/*  h1 font size*/
h1 {
    color: white !important
}

/* spacing for user info */
.userInfo {
    border-bottom: 0.8px solid gray;
}

/* styling for progress bar container */
.questionPrograssBar {
    border: 1px solid black;
    border-radius: 100px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 20px;
}

/* styling for the progress bar */
/* transition to smoothy increase the width of the progress bar */
.questionProgress {
    background-color: green;
    height: 100%;
    width: 0px;
    border-radius: 100px;
    display: inline-block;
    transition: width 0.5s ease;
}

/* sizing of next and end quiz button */
.quizPageBtns {
    width: 40%;
}

/* hides users name input */
#usersnameForQuiz {
    display: none;
}

/* options styling */
.optionsBtns {
    background-color: #d83f86d7 !important;
    border-color: #D83F87 !important;
}

/* wrong answer styling and animation */
.wrongAnswer {
    background-color: red !important;
    border-color: red !important;
    animation: shake 0.5s ease-in-out;
}

/* correct answer styling and animation */
.correctAnswer {
    background-color: green !important;
    border-color: green !important;
    animation: pulse 0.5s ease-in-out;
}

/* spacing for quiz parent container */
.quiz_parent_container {
    margin-top: 10% !important;
}

/* end quiz is hidden for all the questions except last question to end the quiz */
.endQuizBtnCSS{
    display: none;
}

.quiz_child_container > div{
    box-shadow: -1px 10px 20px 0 #ffffff3b, 1px 6px 9px 0 #ffffff38 !important; 
}

/* pulse animation using scale for correct answers */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* shake animation using translateX for wrong answers */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* media queries for screen with  maximum width 480px */
@media only screen and (max-width: 480px) {
    .quiz_settings_container_cust {
        width: 99% !important;
        padding: 0% !important;
    }

    .parent_container {
        padding: 0px !important;
        padding-bottom: 20% !important;
        margin-top: 8% !important
    }

    .quiz_child_container>div {
        width: 98% !important;
        margin: auto !important;
        margin-bottom: 10% !important;
    }

    h1 {
        font-size: 10vh !important;
    }

}

/* media queries for screen with minimum width 481px and maximum width 635px */
@media only screen and (min-width: 481px) and (max-width: 635px) {
    .quiz_settings_container_cust {
        width: 80% !important;
        margin: auto !important;
        padding: 0% !important;
    }

    .parent_container {
        padding: 0px !important;
        padding-bottom: 20% !important;
        margin-top: 8% !important
    }

    .quiz_child_container>div {
        width: 85% !important;
        margin: auto !important;
        margin-bottom: 10% !important;
    }

    .quiz_parent_container {
        margin-top: 10% !important;
    }
}

/* media queries for screen with minimum width 636px and maximum width 992px */
@media only screen and (min-width: 636px) and (max-width: 992px) {
    .quiz_settings_container_cust {
        width: 70% !important;
        margin: auto !important;
        padding: 0% !important;
    }

    .quiz_child_container>div {
        width: 70% !important;
        margin: auto !important;
        margin-bottom: 10% !important;
    }

    .quiz_parent_container {
        margin-top: 10% !important;
    }
}

/* media queries for screen with minimum width 993px and maximum width 1233px */
@media only screen and (min-width: 993px) and (max-width: 1233px) {

    .parent_container {
        padding: 0px !important;
        padding-bottom: 20% !important;
        margin-top: 0% !important
    }

    .quiz_settings_container_cust {
        width: 60% !important;
        margin: auto !important;
        padding: 0% !important;
    }

    .quiz_child_container>div {
        width: 60% !important;
        margin: auto !important;
        margin-bottom: 10% !important;
    }

    .quiz_parent_container {
        margin-top: 10% !important;
    }
}

/* media queries for screen with minimum width 1234px and maximum width 1540px */
@media only screen and (min-width: 1234px) and (max-width: 1540px) {
    .parent_container {
        padding: 0px !important;
        padding-bottom: 20% !important;
        margin-top: 0% !important;
    }

    .quiz_settings_container_cust {
        width: 55% !important;
        margin: auto !important;
        padding: 0% !important;
    }

    .quiz_child_container>div {
        width: 55% !important;
        margin: auto !important;
        margin-bottom: 10% !important;
    }

    .quiz_parent_container {
        margin-top: 10% !important;
    }
}

/* media queries for screen with minimum width 1540px */
@media only screen and (min-width: 1541px) {

    .optionsBtns:hover {
        background-color: rgb(215, 3, 102) !important;
    }
}